* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: url("./air-494020_1280.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #00cfff21;
  backdrop-filter: blur(3px);
  border: 2px solid #ffff;
  border-radius: 75px;
}

.tittle h1 {
  text-align: center;
  padding: 20px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img h1 {
  font-size: 50px;
  color: #ff6347; /* Tomato color */
}

.random_joke p {
  font-size: 20px;
  text-align: center;
  color: #333;
}

.button button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #ff6347; /* Tomato color */
  color: white; /* White color */
}
